/Hw0/NguyenDuyHw0/nbproject/private/
/Hw0/NguyenDuyHw0/build/
/DuyNguyenHw2/nbproject/private/
/DuyNguyenHw2/build/
/ClassExampleWeek3/LoopProject/nbproject/private/
/ClassExampleWeek3/LoopProject/build/
/DuyNguyenHw3/nbproject/private/
/DuyNguyenHw3/build/
/JavaClassWeek4/nbproject/private/
/JavaClassWeek4/build/
/DuyNguyenHw4/build/
DuyNguyenHw4/nbproject/private/private.properties
*.properties
/DuyNguyenHw5/build/
/Regex/nbproject/private/
/Regex/build/
/DuyNguyenHw5/nbproject/private/
/Polymorphism/nbproject/private/
/Polymorphism/build/